.wrapper{
    max-width: 900px;
    border-radius: 15px;
    background: #f7f5f5;
    margin: 2rem 0rem;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: .5s ease-in-out;
    cursor: pointer;
    &:hover{
        background: #d2d2e6;
        transform: translateY(-10px);
        box-shadow: -2px 3px 12px 0px #00000066;
    }

    &.full{
        transition: .5s ease-in-out;
        height: 100%;
    }
    .content{

        text-indent: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        &.full{
            display: block;
            overflow: auto;
        }
        
        p{
            font-weight: 700;
        }

        img{
            width: 30%;
            border-radius: 10%; 
            float:left;
            margin-right: 1rem;
         }
        &::after{
            clear:left;
        }
    } 
}
